.Header {
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
}

.menu1, .menu2 {
    color: #2f3640;
}

.menu2 {
    border: 1px solid #747d8c;
    border-radius: 5px;
}

select {
    border:0px;
    outline:0px;
    -webkit-appearance: none;
    -moz-appearance: none;      
    background: none;
    cursor: pointer;
    padding: 2px 30px 2px 2px;
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat calc(100% - 10px) !important; /* Better placement regardless of input width */
 }

 select:after {
    content: " - Remember this";
    background-color: yellow;
    color: red;
    font-weight: bold;
  }

 select::-ms-expand {
    display: none;
}